In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('covid_toy.csv')

In [3]:
df.sample(6)

    age  gender  fever   cough       city has_covid
6    14    Male  101.0  Strong  Bangalore        No
95   12  Female  104.0    Mild  Bangalore        No
77    8  Female  101.0    Mild    Kolkata        No
52   47  Female  100.0  Strong  Bangalore       Yes
28   16    Male  104.0    Mild    Kolkata        No
13   64    Male  102.0    Mild  Bangalore       Yes

In [6]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [15]:
df1=df.iloc[:, :5]
df2=df.iloc[:, -5]

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(df1, df2, train_size=0.80, random_state=22)

In [17]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [18]:
#object of column transfer is created and pass two arguments that is 'list of transformer' and 'Remainder'
#List of transformer is that args which needs to be feature scaled
#Remainder is used for the columns that we dont use. There are two options in remainder i.e 'passthrough' or 'drop'

transformer = ColumnTransformer(transformers=[
    ('tf1', SimpleImputer(),['fever']),
    ('tf2', OrdinalEncoder(categories=[['Mild', 'Strong']]), ['cough']),
    ('tf3', OneHotEncoder(sparse=False, drop='first'), ['gender', 'city'])
], remainder='passthrough')

In [20]:
transformer.fit_transform(X_train).shape

C:\Users\khadk\AppData\Roaming\Python\Python312\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(80, 7)

In [22]:
transformer.transform(X_test).shape

(20, 7)