In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('train.csv', usecols=['Age', 'Fare', 'Survived'])
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [6]:
df.isnull().sum()

Survived    0
Age         0
Fare        0
dtype: int64

In [5]:
df.dropna(inplace=True)

In [7]:
X=df.iloc[:, 1:]
y=df.iloc[:, 0]

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test=train_test_split(X, y, train_size=0.80, random_state=33)

In [9]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import KBinsDiscretizer

In [10]:
clf=DecisionTreeClassifier()

In [11]:
clf.fit(X_train, y_train)
y_pred=clf.predict(X_test)

In [12]:
accuracy_score(y_test, y_pred)

0.6433566433566433

In [14]:
np.mean(cross_val_score(DecisionTreeClassifier(), X,y, cv=10, scoring='accuracy'))

0.6289319248826291

## By applying discretizer

In [23]:
kbin_age=KBinsDiscretizer(n_bins=10, encode='ordinal', strategy='uniform')
kbin_fare=KBinsDiscretizer(n_bins=10, encode='ordinal', strategy='uniform')

In [24]:
#using column transfer

trf=ColumnTransformer([
    ('first', kbin_age, [0]),
    ('Second', kbin_fare, [1])
])

In [25]:
X_train_transformed=trf.fit_transform(X_train)
X_test_transformed=trf.transform(X_test)

C:\Users\khadk\AppData\Roaming\Python\Python312\site-packages\sklearn\preprocessing\_discretization.py:248: FutureWarning: In version 1.5 onwards, subsample=200_000 will be used by default. Set subsample explicitly to silence this warning in the mean time. Set subsample=None to disable subsampling explicitly.
  warnings.warn(
C:\Users\khadk\AppData\Roaming\Python\Python312\site-packages\sklearn\preprocessing\_discretization.py:248: FutureWarning: In version 1.5 onwards, subsample=200_000 will be used by default. Set subsample explicitly to silence this warning in the mean time. Set subsample=None to disable subsampling explicitly.
  warnings.warn(

In [26]:
trf.named_transformers_['first'].bin_edges_

array([array([ 0.42 ,  8.378, 16.336, 24.294, 32.252, 40.21 , 48.168, 56.126,
              64.084, 72.042, 80.   ])                                       ],
      dtype=object)

In [31]:
output= pd.DataFrame({
    'age':X_train['Age'],
    'age_trf':X_train_transformed[:, 0],
    'fare':X_train['Fare'],
    'fare_trf':X_train_transformed[:, 1]

})

In [33]:
output.sample(10)

      age  age_trf      fare  fare_trf
880  25.0      3.0   26.0000       0.0
81   29.0      3.0    9.5000       0.0
325  36.0      4.0  135.6333       2.0
102  21.0      2.0   77.2875       1.0
38   18.0      2.0   18.0000       0.0
112  22.0      2.0    8.0500       0.0
840  20.0      2.0    7.9250       0.0
627  21.0      2.0   77.9583       1.0
20   35.0      4.0   26.0000       0.0
292  36.0      4.0   12.8750       0.0