In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

In [3]:
df=pd.read_csv('train.csv', usecols=['Age', 'Pclass', 'SibSp', 'Parch', 'Survived'])

In [4]:
df.head()

   Survived  Pclass   Age  SibSp  Parch
0         0       3  22.0      1      0
1         1       1  38.0      1      0
2         1       3  26.0      0      0
3         1       1  35.0      1      0
4         0       3  35.0      0      0

In [5]:
df.isnull().sum()

Survived      0
Pclass        0
Age         177
SibSp         0
Parch         0
dtype: int64

In [11]:
df.dropna(inplace=True)

In [12]:
df.isnull().sum()

Survived    0
Pclass      0
Age         0
SibSp       0
Parch       0
dtype: int64

In [13]:
X=df.iloc[:, 1:]
y=df.iloc[:, 0]

In [14]:
X.head()

   Pclass   Age  SibSp  Parch
0       3  22.0      1      0
1       1  38.0      1      0
2       3  26.0      0      0
3       1  35.0      1      0
4       3  35.0      0      0

In [15]:
np.mean(cross_val_score(LogisticRegression(), X, y, scoring='accuracy', cv=10))

0.6921165884194054

## Feature Construction

In [18]:
X['family_size']=X['Parch'] + X['SibSp'] + 1

In [19]:
X.head()

   Pclass   Age  SibSp  Parch  family_size
0       3  22.0      1      0            2
1       1  38.0      1      0            2
2       3  26.0      0      0            1
3       1  35.0      1      0            2
4       3  35.0      0      0            1

In [20]:
#creating function

def myfunc(num):
    if num==1:
        return 0
    elif num>1 and num<4:
        return 1
    else:
        return 2

In [21]:
myfunc(3)

1

In [22]:
X['family_type']=X['family_size'].apply(myfunc)

In [23]:
X.head()

   Pclass   Age  SibSp  Parch  family_size  family_type
0       3  22.0      1      0            2            1
1       1  38.0      1      0            2            1
2       3  26.0      0      0            1            0
3       1  35.0      1      0            2            1
4       3  35.0      0      0            1            0

In [26]:
X.drop(columns=['SibSp', 'Parch', 'family_size'])

     Pclass   Age  family_type
0         3  22.0            1
1         1  38.0            1
2         3  26.0            0
3         1  35.0            1
4         3  35.0            0
..      ...   ...          ...
885       3  39.0            2
886       2  27.0            0
887       1  19.0            0
889       1  26.0            0
890       3  32.0            0

[714 rows x 3 columns]

In [27]:
np.mean(cross_val_score(LogisticRegression(), X, y, scoring='accuracy', cv=15))

0.7216016548463358