In [1]:
#Importing all the required libraries

import numpy as np
import pandas as pd 

from sklearn.model_selection import train_test_split

from sklearn.impute import KNNImputer, SimpleImputer
from sklearn.linear_model  import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
df=pd.read_csv('train.csv', usecols=['Age', 'Pclass', 'Fare', 'Survived'])

In [3]:
df.head()

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [5]:
df.isnull().mean() *100

Survived     0.00000
Pclass       0.00000
Age         19.86532
Fare         0.00000
dtype: float64

In [6]:
X=df.iloc[:, 1:]
y=df.iloc[:, 0]

In [8]:
X_train, X_test, y_train, y_test=train_test_split(X, y,train_size=0.8, random_state=4)

In [10]:
X_train.sample(8)

     Pclass    Age     Fare
482       3  50.00   8.0500
196       3    NaN   7.7500
199       2  24.00  13.0000
260       3    NaN   7.7500
326       3  61.00   6.2375
61        1  38.00  80.0000
469       3   0.75  19.2583
738       3    NaN   7.8958

In [20]:
#creating object for KNN Imputer

knn= KNNImputer(weights='distance')

X_train_trf=knn.fit_transform(X_train)
X_test_trf=knn.transform(X_test)

In [21]:
X_train_trf=pd.DataFrame(X_train_trf, columns=X_train.columns)

In [22]:
X_train_trf

     Pclass   Age     Fare
0       3.0  27.6   7.8958
1       2.0  60.0  39.0000
2       3.0  36.0  15.5500
3       3.0  23.8  25.4667
4       1.0  38.5  30.0000
..      ...   ...      ...
707     3.0  40.0  27.9000
708     3.0  29.0  15.2458
709     2.0  31.0  10.5000
710     1.0  56.0  30.6958
711     2.0  32.5  30.0708

[712 rows x 3 columns]

In [23]:
X_train_trf.isnull().mean() *100

Pclass    0.0
Age       0.0
Fare      0.0
dtype: float64

In [24]:
# USing logistic regression

lr=LogisticRegression()

lr.fit(X_train_trf, y_train)

y_pred=lr.predict(X_test_trf)

accuracy_score(y_test, y_pred)

C:\Users\khadk\AppData\Roaming\Python\Python312\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

0.7486033519553073

In [25]:
#cross checking with mean handling techniques

si=SimpleImputer()

X_train_trf2=si.fit_transform(X_train)
X_test_trf2=si.transform(X_test)

In [27]:
lr=LogisticRegression()

lr.fit(X_train_trf2, y_train)

y_pred2=lr.predict(X_test_trf2)

accuracy_score(y_test, y_pred2)

0.7374301675977654