In [130]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [131]:
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [132]:
df=pd.read_csv('titanic_toy.csv')
df.head(5)

    Age     Fare  Family  Survived
0  22.0   7.2500       1         0
1  38.0  71.2833       1         1
2  26.0   7.9250       0         1
3  35.0  53.1000       1         1
4  35.0   8.0500       0         0

In [133]:
df.isnull().sum()

Age         177
Fare         45
Family        0
Survived      0
dtype: int64

In [134]:
df.isnull().mean() * 100

Age         19.865320
Fare         5.050505
Family       0.000000
Survived     0.000000
dtype: float64

In [135]:
#train test split
X=df.iloc[:, :2]
y=df.iloc[:, -2]

In [136]:
X_train, X_test, y_train, y_test=train_test_split(X, y, train_size=0.80, random_state=22)

In [137]:
X_train.isnull().mean() *100

Age     20.646067
Fare     4.353933
dtype: float64

# Using pandas

In [138]:
#calculating mean for both age and fare

mean_age=X_train['Age'].mean()
median_age=X_train['Age'].median()

mean_fare=X_train['Fare'].mean()
median_fare=X_train['Fare'].median()

In [139]:
X_train['Age_mean']=X_train['Age'].fillna(mean_age)
X_train['Age_median']=X_train['Age'].fillna(median_age)

X_train['Fare_mean']=X_train['Fare'].fillna(mean_fare)
X_train['Fare_median']=X_train['Fare'].fillna(median_fare)

In [140]:
X_train.head(5)

      Age      Fare   Age_mean  Age_median  Fare_mean  Fare_median
793   NaN   30.6958  29.534814        28.0    30.6958      30.6958
814  30.5    8.0500  30.500000        30.5     8.0500       8.0500
43    3.0   41.5792   3.000000         3.0    41.5792      41.5792
269  35.0  135.6333  35.000000        35.0   135.6333     135.6333
538   NaN   14.5000  29.534814        28.0    14.5000      14.5000

In [141]:
print('Original Age:', X_train['Age'].var())
print('Mean_age:', X_train['Age_mean'].var())
print('Median_age:', X_train['Age_median'].var())

print('Original Fare:', X_train['Fare'].var())
print('Mean_fare:', X_train['Fare_mean'].var())
print('Median_fare:', X_train['Fare_median'].var())

Original Age: 222.36171933596938
Mean_age: 176.38819930448207
Median_age: 176.77467997894246
Original Fare: 2391.1615921268494
Mean_fare: 2286.9056014715297
Median_fare: 2299.8122137709956

# Using Scikit learn library

In [142]:
df=pd.read_csv('titanic_toy.csv')

In [151]:
X=df.drop(columns=['Survived'])
y=df['Survived']

In [152]:
X_train, X_test, y_train, y_test=train_test_split(X, y, train_size=0.80, random_state=22)

In [153]:
X_train.shape

(712, 3)

In [154]:
sk_mean=SimpleImputer(strategy='mean')
sk_median=SimpleImputer(strategy='median')

In [155]:
trf=ColumnTransformer([
    ('trf1', sk_mean, ['Fare']),
    ('trf2', sk_median, ['Age'])
  

] , remainder='passthrough')

In [156]:

trf.fit(X_train)

ColumnTransformer(remainder='passthrough',
                  transformers=[('trf1', SimpleImputer(), ['Fare']),
                                ('trf2', SimpleImputer(strategy='median'),
                                 ['Age'])])

In [157]:

X_train = trf.transform(X_train)
X_test = trf.transform(X_test)

In [158]:

X_train

array([[30.6958, 28.    ,  0.    ],
       [ 8.05  , 30.5   ,  0.    ],
       [41.5792,  3.    ,  3.    ],
       ...,
       [10.5   , 35.    ,  0.    ],
       [14.5   , 47.    ,  1.    ],
       [29.125 , 39.    ,  5.    ]])