In [67]:
import pandas as pd
import numpy as np
import seaborn as sns
import pandas as pd

In [68]:
df=pd.read_csv('titanic_toy.csv')
df.head()

    Age     Fare  Family  Survived
0  22.0   7.2500       1         0
1  38.0  71.2833       1         1
2  26.0   7.9250       0         1
3  35.0  53.1000       1         1
4  35.0   8.0500       0         0

In [69]:
df.isnull().mean()*100

Age         19.865320
Fare         5.050505
Family       0.000000
Survived     0.000000
dtype: float64

In [70]:
X=df.iloc[:, :3]
y=df.iloc[:, -2]

In [71]:
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

X_train, X_test, y_train, y_test=train_test_split(X, y, train_size=0.80, random_state=33)

In [72]:
age_mean=SimpleImputer(strategy='mean')
Fare_median=SimpleImputer(strategy='median')

In [73]:
from sklearn.compose import ColumnTransformer

trf=ColumnTransformer([
    ('trf1', age_mean, ['Age']),
    ('trf2', Fare_median, ['Fare'])
], remainder='passthrough')

In [76]:
X_train_trf1=trf.fit_transform(X_train)
X_test_trf1=trf.transform(X_test)

In [87]:
df1=pd.DataFrame(X_train_trf1)
df1

            0        1    2
0    34.00000   8.0500  0.0
1    40.00000  39.0000  2.0
2    19.00000   7.8958  0.0
3    20.00000   7.9250  1.0
4    19.00000   7.8792  0.0
..        ...      ...  ...
707  23.00000  13.0000  0.0
708  29.78917  14.4583  1.0
709  25.00000  26.0000  1.0
710  21.00000   7.7958  0.0
711  35.00000  26.0000  0.0

[712 rows x 3 columns]

In [88]:
df1.isnull().sum()

0    0
1    0
2    0
dtype: int64